#!/bin/sh

#Install SELinux for containers for K3s
yum update -y
amazon-linux-extras enable selinux-ng
yum install -y container-selinux

# Set up K3s
curl -Ss http://169.254.169.254/1.0/meta-data/local-ipv4 > /etc/private_ip
host -t PTR $(cat /etc/private_ip) | awk '{print substr($NF, 1, length($NF)-1)}' > /etc/private_dns
sed -e 's/$/:30922/' < /etc/private_dns > /etc/boundary_worker_nodeport

curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.29.7+k3s1 INSTALL_K3S_EXEC=\"server\" sh -

# download and install vault
echo Installing Vault
sleep 30
sudo yum install -y yum-utils
sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/AmazonLinux/hashicorp.repo
sudo yum install -y vault-1.18.5-1 jq

# prevent memory from being swapped to disk without running the process as root
sudo setcap cap_ipc_lock=+ep /usr/bin/vault

# create the vault.d directory in /etc
sudo mkdir --parents /etc/vault.d

# Add Vault config file
cat <<EOF > /etc/vault.d/vault.hcl
ui = true
disable_mlock = true

listener "tcp" {
 address     = "0.0.0.0:8200"
 tls_disable = "true"
}

storage "raft" {
  path = "/home/vault/data"
  node_id = "raft_node_1"
}

cluster_addr = "http://127.0.0.1:8201"
api_addr = "http://127.0.0.1:8200"
EOF

cat <<EOF > /etc/systemd/system/vault.service
[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/vault.d/vault.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=vault
Group=vault
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/usr/bin/vault server -config=/etc/vault.d/vault.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
LimitNOFILE=65536
LimitMEMLOCK=infinity
[Install]
WantedBy=multi-user.target
EOF

# give ownership of everything in the vault.d directory to the vault user
sudo chown --recursive vault:vault /etc/vault.d

# give read/write access to the vault.hcl file
sudo chown 640 /etc/vault.d/vault.hcl
sudo mkdir /home/vault
sudo mkdir /home/vault/data
sudo chown --recursive vault:vault /home/vault/


export VAULT_ADDR='http://127.0.0.1:8200'

# enable and start the vault server
sudo systemctl enable vault
sudo systemctl start vault
sleep 10 

# Unseal Vault 

VAULT_INIT_OUTPUT=$(vault operator init -key-shares 1 -key-threshold 1 -format json)

vault operator unseal $(echo $VAULT_INIT_OUTPUT | jq -r '.unseal_keys_b64[0]')

echo "VAULT_ADDR=http://127.0.0.1:8200" > /etc/vault.d/vault.env

export VAULT_TOKEN=$(echo $VAULT_INIT_OUTPUT | jq '.root_token' | tr -d "'\"")

cat <<EOF > /tmp/admin.hcl
path "*"
{
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}
EOF

vault auth enable userpass
vault policy write admin /tmp/admin.hcl
vault write auth/userpass/users/terraform password=${vaultpass} token_policies=admin token_no_default_policy=true